.pagination {
  @apply flex items-center justify-center gap-1 sm:gap-2;

  &__button {
    @apply flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 transition-colors duration-200 border text-[#502B3A] border-[#502B3A]/20 hover:bg-[#D1A559]/10 hover:border-[#D1A559]/40;

    &--active {
      @apply bg-[#502B3A] text-white hover:bg-[#502B3A] border-[#502B3A];
    }

    &--disabled {
      @apply opacity-40 cursor-not-allowed border border-gray-400 text-gray-500;
    }
  }

  &__ellipsis {
    @apply px-1 sm:px-2 text-[#502B3A];
  }

  &__icon {
    @apply w-4 h-4 sm:w-5 sm:h-5;
  }
}
