.back-button {
  @apply text-[#502B3A] hover:text-[#D1A559] transition-colors;

  &__icon {
    @apply w-5 h-5 sm:w-6 sm:h-6;
  }
}

.button {
  @apply inline-flex items-center justify-center border font-medium focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:hover:shadow-none transition-all duration-200;

  // Size variants
  &--xs {
    @apply px-2 py-1 text-xs gap-1;
  }

  &--sm {
    @apply px-3 py-1.5 text-sm gap-1.5;
  }

  &--md {
    @apply px-4 py-2 text-base gap-2;
  }

  &--lg {
    @apply px-6 py-3 text-lg gap-2.5;
  }

  &--xl {
    @apply px-8 py-4 text-xl gap-3;
  }

  // Color variants
  &--primary {
    @apply bg-primary-500 text-white border-transparent hover:bg-primary-500/90;
  }

  &--secondary {
    @apply bg-secondary-500 text-white border-transparent hover:bg-secondary-400;
  }

  &--outline {
    @apply bg-transparent text-primary-500 border-primary-500 hover:bg-primary-500/10 border;
  }

  &--ghost {
    @apply bg-transparent text-primary-500 border-transparent hover:bg-primary-500/10;
  }

  &--danger {
    @apply bg-red-600 text-white border-transparent hover:bg-red-500;
  }

  // Icon sizes
  &__icon {
    &--xs {
      @apply w-3.5 h-3.5;
    }

    &--sm {
      @apply w-4 h-4;
    }

    &--md {
      @apply w-4 h-4;
    }

    &--lg {
      @apply w-5 h-5;
    }

    &--xl {
      @apply w-5 h-5;
    }
  }

  // Loading spinner
  &__spinner {
    @apply animate-spin;
  }
}
