.blog-page {
  @apply mt-12 md:mt-16 mb-16 md:mb-20 lg:mb-28 text-primary-500;

  &__posts-container {
    @apply mt-8 md:mt-12 lg:mt-16;
  }

  &__pagination {
    @apply mt-12 md:mt-16 lg:mt-20 px-4 sm:px-6;
  }
}
