.testimonials {
  @apply pt-12 pb-24 sm:pb-32;

  &__container {
    @apply mx-auto max-w-7xl px-4 lg:px-8;
  }

  &__header {
    @apply mx-auto max-w-xl text-center;
  }

  &__subtitle {
    @apply text-lg font-semibold leading-8 tracking-tight text-secondary-500;
  }

  &__title {
    @apply mt-2 text-3xl md:text-4xl font-primary font-semibold tracking-tight text-primary-500;
  }

  &__content {
    @apply mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none;
  }

  &__grid {
    @apply grid grid-cols-1 gap-6 sm:gap-8 sm:grid-cols-2 lg:grid-cols-3;
  }

  &__card {
    @apply bg-gray-50 p-8 text-sm leading-6 flex flex-col h-full;

    &-quote {
      @apply text-primary-500 flex-grow;
    }

    &-footer {
      @apply mt-6 flex items-center gap-x-4;
    }

    &-avatar {
      @apply h-10 w-10 rounded-full bg-gray-50;
    }

    &-initials {
      @apply flex h-10 w-10 items-center justify-center rounded-full bg-gray-300;
    }

    &-initial {
      @apply text-sm font-medium text-primary-500;
    }

    &-name {
      @apply font-semibold text-primary-500;
    }

    &-handle {
      @apply text-primary-400;
    }
  }
}
