.cart-page {
  @apply my-12;

  &__container {
    @apply max-w-6xl mx-auto;
  }

  &__content {
    @apply mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-12;
  }

  &__items-container {
    @apply bg-white overflow-hidden mx-auto w-full flex-none lg:max-w-xl xl:max-w-2xl;
  }

  &__item {
    @apply py-6 transition-colors;
  }

  &__item-content {
    @apply flex gap-4;
  }

  &__image-container {
    @apply shrink-0 relative w-32 h-32 md:w-40 md:h-40 overflow-hidden border border-gray-200;
  }

  &__details {
    @apply flex flex-col flex-1 justify-between;
  }

  &__title {
    @apply font-medium text-[#502B3A];
  }

  &__specs {
    @apply text-sm text-[#502B3A]/70 mt-1 mb-2;
  }

  &__price {
    @apply font-medium text-[#502B3A];
  }

  &__size-select {
    @apply block w-full appearance-none border border-gray-300 bg-transparent py-1.5 pl-3 pr-5 text-sm text-[#502B3A] focus:border-[#502B3A] focus:outline-none focus:ring-1 focus:ring-[#502B3A];
  }

  &__quantity-control {
    @apply flex items-center h-8;
  }

  &__quantity-btn {
    @apply inline-flex h-8 w-8 items-center justify-center border border-gray-300 bg-gray-100 hover:bg-gray-200;
  }

  &__quantity-input {
    @apply w-12 text-center text-sm font-medium text-[#502B3A] h-8;
  }

  &__remove-btn {
    @apply text-gray-500 hover:text-gray-600 h-5 w-5 self-start ml-6;
  }

  &__summary {
    @apply bg-gray-50 p-6 sm:p-8 mx-auto max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full mt-6 sm:mt-8;
  }

  &__summary-title {
    @apply text-xl font-semibold text-[#502B3A] mb-4;
  }

  &__summary-row {
    @apply flex justify-between pt-3;
  }

  &__summary-label {
    @apply text-[#502B3A]/70;
  }

  &__summary-value {
    @apply font-medium text-[#502B3A];
  }

  &__total {
    @apply font-bold text-[#502B3A];
  }

  &__checkout-btn {
    @apply w-full bg-[#502B3A] hover:bg-[#C0954E] text-white py-3 px-4 font-medium transition-colors;
  }

  &__continue-shopping {
    @apply hover:text-[#502B3A] text-sm font-medium;
  }
}

.empty-state-icon {
  @apply h-16 w-16 text-[#502B3A];
}

.engraving-preview {
  @apply relative w-full mb-3;

  &__title {
    @apply text-sm text-[#502B3A] mb-3;
  }

  &__container {
    @apply relative h-32 flex items-center justify-center overflow-hidden;
  }

  &__background {
    @apply absolute inset-0 bg-center bg-no-repeat bg-contain opacity-20;
  }

  &__svg {
    @apply h-32 border border-[#502B3A];
  }

  &__text {
    @apply text-[#502B3A] text-sm font-medium;
  }
}

.engraving-panel {
  @apply mt-4;

  &__section {
    @apply mb-6;
  }

  &__label {
    @apply block text-sm font-medium text-[#502B3A] mb-2;
  }

  &__input {
    @apply w-full text-sm px-3 py-2 border border-[#502B3A]/50 focus:ring-[#D1A559] focus:border-[#D1A559];
  }

  &__char-count {
    @apply ml-auto mt-1 text-xs inline-flex w-full justify-end text-[#502B3A]/60;
  }

  &__char-count-number {
    @apply ml-1;
  }

  &__font-grid {
    @apply grid grid-cols-6 gap-2;
  }

  &__font-button {
    @apply py-2 px-3 border text-lg bg-white text-[#502B3A] border-gray-300;

    &--selected {
      @apply bg-[#D1A559] text-white border-[#D1A559];
    }
  }

  &__disclaimer {
    @apply text-sm text-[#502B3A] mb-6;
  }

  &__save-button {
    @apply w-full py-2 px-4 bg-[#502B3A] text-white;

    &--disabled {
      @apply opacity-50 cursor-not-allowed;
    }
  }
}

.engraving {
  &__button {
    @apply text-[#502B3A] font-light text-sm flex flex-row items-center gap-x-3;
  }

  &__modal-overlay {
    @apply fixed inset-0 flex items-center justify-center p-4;
    z-index: 99999;
  }

  &__modal-backdrop {
    @apply fixed inset-0 bg-gray-500 bg-opacity-75;
  }

  &__modal-content {
    @apply relative w-full max-w-md mx-auto bg-white shadow-xl;
  }

  &__modal-header {
    @apply p-6;
  }

  &__modal-title {
    @apply text-lg font-medium text-[#502B3A] font-primary;
  }

  &__modal-close {
    @apply text-gray-400;
  }

  &__modal-body {
    @apply flex flex-col items-center;
  }
}
