.cart-page {
  @apply my-12;

  &__container {
    @apply max-w-6xl mx-auto;
  }

  &__content {
    @apply mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-12;
  }

  &__items-container {
    @apply bg-white overflow-hidden mx-auto w-full flex-none lg:max-w-xl xl:max-w-2xl;
  }

  &__item {
    @apply py-6 transition-colors;
  }

  &__item-content {
    @apply flex gap-4;
  }

  &__image-container {
    @apply shrink-0 relative w-32 h-32 md:w-40 md:h-40 overflow-hidden border border-gray-200;
  }

  &__details {
    @apply flex flex-col flex-1 justify-between;
  }

  &__title {
    @apply font-medium text-[#502B3A];
  }

  &__specs {
    @apply text-sm text-[#502B3A]/70 mt-1 mb-2;
  }

  &__price {
    @apply font-medium text-[#502B3A];
  }

  &__size-select {
    @apply block w-full appearance-none border border-gray-300 bg-transparent py-1.5 pl-3 pr-5 text-sm text-[#502B3A] focus:border-[#502B3A] focus:outline-none focus:ring-1 focus:ring-[#502B3A];
  }

  &__quantity-control {
    @apply flex items-center h-8;
  }

  &__quantity-btn {
    @apply inline-flex h-8 w-8 items-center justify-center border border-gray-300 bg-gray-100 hover:bg-gray-200;
  }

  &__quantity-input {
    @apply w-12 text-center text-sm font-medium text-[#502B3A] h-8;
  }

  &__remove-btn {
    @apply text-gray-500 hover:text-gray-600 h-5 w-5 self-start ml-6;
  }

  &__summary {
    @apply bg-gray-50 p-6 sm:p-8 mx-auto max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full mt-6 sm:mt-8;
  }

  &__summary-title {
    @apply text-xl font-semibold text-[#502B3A] mb-4;
  }

  &__summary-row {
    @apply flex justify-between pt-3;
  }

  &__summary-label {
    @apply text-[#502B3A]/70;
  }

  &__summary-value {
    @apply font-medium text-[#502B3A];
  }

  &__total {
    @apply font-bold text-[#502B3A];
  }

  &__checkout-btn {
    @apply w-full bg-[#502B3A] hover:bg-[#C0954E] text-white py-3 px-4 font-medium transition-colors;
  }

  &__continue-shopping {
    @apply hover:text-[#502B3A] text-sm font-medium;
  }
}

.empty-state-icon {
  @apply h-16 w-16 text-[#502B3A];
}

