.breadcrumb {
  @apply flex justify-center;

  &__list {
    @apply inline-flex items-center space-x-1 md:space-x-2 text-[#502B3A] text-base sm:text-lg;
  }

  &__item {
    @apply flex items-center truncate overflow-hidden;
  }

  &__link {
    @apply font-normal text-[#502B3A] hover:text-[#D1A559] transition-colors ml-1 md:ml-2 truncate;

    &--home {
      @apply inline-flex items-center;
    }
  }

  &__separator {
    @apply h-4 w-4;
  }

  &__current {
    @apply ml-1 font-normal text-[#502B3A] md:ml-2;
  }
}
