.divider {
  @apply relative;

  &__line-container {
    @apply absolute inset-0 flex items-center;
  }

  &__line {
    @apply w-full border-t border-[#D1A559]/60;
  }

  &__text {
    @apply relative flex justify-center;
  }

  &__span {
    @apply px-2 bg-white text-xs sm:text-sm text-[#502B3A];
  }
}
