.alert {
  @apply fixed top-4 right-4 max-w-md w-full z-[9999] border p-4;

  &-container {
    @apply flex;
  }

  &-icon-container {
    @apply flex-shrink-0;
  }

  &-content {
    @apply ml-3 flex-1;
  }

  &-title {
    @apply text-sm font-medium mb-1;
  }

  &-body {
    @apply text-sm;
  }

  &-dismiss {
    @apply ml-auto pl-3;
  }

  &-dismiss-button {
    @apply -mx-1.5 -my-1.5;
  }

  &-dismiss-button-inner {
    @apply inline-flex p-1.5 focus:outline-none focus:ring-2 focus:ring-offset-2 hover:bg-black hover:bg-opacity-10;
  }

  // Variants
  &--success {
    @apply bg-green-50 border-green-200 text-green-800;

    .alert-icon {
      @apply text-green-400;
    }
  }

  &--error {
    @apply bg-red-50 border-red-200 text-red-800;

    .alert-icon {
      @apply text-red-400;
    }
  }

  &--warning {
    @apply bg-yellow-50 border-yellow-200 text-yellow-800;

    .alert-icon {
      @apply text-yellow-400;
    }
  }

  &--info {
    @apply bg-blue-50 border-blue-200 text-blue-800;

    .alert-icon {
      @apply text-blue-400;
    }
  }

  .alert-icon {
    @apply h-5 w-5;
  }

  .dismiss-icon {
    @apply h-4 w-4;
  }
}
