.cta-section {
  @apply relative mt-10 md:mt-20 flex flex-col-reverse lg:flex-row items-center justify-between bg-[#502B3A] overflow-hidden z-10;

  @media (min-width: 1024px) {
    @apply lg:bg-gradient-to-r lg:from-[#502B3A] lg:via-[#502B3A]/90 lg:via-70% lg:to-transparent;
  }

  &__gradient-overlay {
    @apply hidden lg:block absolute inset-0 bg-gradient-to-r from-[#502B3A] via-[#502B3A] via-[80%] to-transparent z-10 w-[70%];
  }

  &__content {
    @apply relative text-center lg:text-left z-20 px-6 py-12 lg:py-24 lg:pl-12 lg:pr-0 max-w-lg;
  }

  &__heading {
    @apply font-primary font-semibold text-3xl md:text-4xl text-white mb-10;
  }

  &__button-wrapper {
    @apply mx-auto lg:mx-0;
  }

  &__button {
    @apply inline-flex items-center gap-x-2 bg-white text-[#502B3A] py-3 px-8 font-medium hover:bg-opacity-90 transition-colors;
  }

  &__button-icon {
    @apply h-5 w-5;
  }

  &__image-container {
    @apply w-full h-[250px] relative z-0;

    @media (min-width: 1024px) {
      @apply lg:w-[50%] lg:h-[400px];
    }
  }

  &__image {
    @apply w-full h-full object-cover;
  }
}
