.engraving-preview {
  @apply relative w-full mb-3;

  &__title {
    @apply text-sm text-[#502B3A] mb-3;
  }

  &__container {
    @apply relative h-32 flex items-center justify-center overflow-hidden;
  }

  &__background {
    @apply absolute inset-0 bg-center bg-no-repeat bg-contain opacity-20;
  }

  &__svg {
    @apply h-32 border border-[#502B3A];
  }

  &__text {
    @apply text-[#502B3A] text-sm font-medium;
  }
}

.engraving-panel {
  @apply mt-4;

  &__section {
    @apply mb-6;
  }

  &__label {
    @apply block text-sm font-medium text-[#502B3A] mb-2;
  }

  &__input {
    @apply w-full text-sm px-3 py-2 border border-[#502B3A]/50 focus:ring-[#D1A559] focus:border-[#D1A559];
  }

  &__char-count {
    @apply ml-auto mt-1 text-xs inline-flex w-full justify-end text-[#502B3A]/60;
  }

  &__char-count-number {
    @apply ml-1;
  }

  &__font-grid {
    @apply grid grid-cols-6 gap-2;
  }

  &__font-button {
    @apply py-2 px-3 border text-lg bg-white text-[#502B3A] border-gray-300;

    &--selected {
      @apply bg-[#D1A559] text-white border-[#D1A559];
    }
  }

  &__disclaimer {
    @apply text-sm text-[#502B3A] mb-6;
  }

  &__save-button {
    @apply w-full py-2 px-4 bg-[#502B3A] text-white;

    &--disabled {
      @apply opacity-50 cursor-not-allowed;
    }
  }
}

.engraving {
  &__button {
    @apply text-[#502B3A] font-light text-sm flex flex-row items-center gap-x-3;
  }

  &__modal-overlay {
    @apply fixed inset-0 flex items-center justify-center p-4;
    z-index: 99999;
  }

  &__modal-backdrop {
    @apply fixed inset-0 bg-gray-500 bg-opacity-75;
  }

  &__modal-content {
    @apply relative w-full max-w-md mx-auto bg-white shadow-xl;
  }

  &__modal-header {
    @apply p-6;
  }

  &__modal-title {
    @apply text-lg font-medium text-[#502B3A] font-primary;
  }

  &__modal-close {
    @apply text-gray-400;
  }

  &__modal-body {
    @apply flex flex-col items-center;
  }
}
