@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-gantari);
  --font-secondary: var(--font-lora);
}

html {
  scroll-behavior: smooth;

  // For Firefox
  scrollbar-width: thin;
  scrollbar-color: #D1A559 #f5f5f5;

  // For WebKit browsers (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  &::-webkit-scrollbar-track {
    @apply bg-gray-50;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-[#D1A559] rounded-full;

    &:hover {
      @apply bg-[#b38d4d];
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gantari);
}
