@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-gantari);
  --font-secondary: var(--font-lora);

  --font-dancing-script: var(--font-dancing-script);
}

html {
  @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-[#D1A559];
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gantari);
}
