.not-found {
  @apply h-[90vh] lg:h-auto;

  &__header {
    @apply w-full flex flex-col items-center justify-center px-4 pt-14;

    & .not-found__title {
      @apply font-primary font-normal text-[#502B3A] text-2xl mb-2;
    }

    & .not-found__subtitle {
      @apply text-[#D1A559] font-light text-lg mb-6 text-center;
    }

    & .not-found__links {
      @apply flex items-center justify-center gap-x-9;

      & .not-found__link {
        @apply flex justify-center items-center gap-x-1.5 font-light text-base text-[#502B3A] hover:underline hover:decoration-1;
      }
    }
  }

  &__image-wrapper {
    @apply flex items-center justify-center mt-10;

    & .not-found__image {
      @apply w-[90%] md:w-[60%] lg:w-[50%] h-auto;
    }
  }
}
