.contact-page {
  @apply min-h-screen bg-stone-100 py-12 px-0 md:px-6 lg:px-8;

  &__container {
    @apply max-w-7xl mx-auto;
  }

  &__layout {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-16;
  }

  &__details-wrapper {
    @apply px-4 sm:px-6 md:px-0;
  }
}

.contact-details {
  @apply space-y-8;

  &__header {
    @apply font-primary text-3xl md:text-4xl font-semibold text-primary-500 mb-6;
  }

  &__description {
    @apply text-primary-400 leading-relaxed;
  }

  &__info-group {
    @apply space-y-6;
  }

  &__item {
    @apply flex items-start space-x-4;

    &--centered {
      @apply items-center;
    }
  }

  &__icon {
    @apply w-6 h-6 text-primary-200 flex-shrink-0;
  }

  &__address {
    @apply text-primary-500 font-medium;
  }

  &__location {
    @apply text-primary-400;
  }

  &__link {
    @apply text-primary-400 hover:text-primary-500;
  }
}

.contact-form {
  &__wrapper {
    @apply bg-white border border-primary-100 shadow-sm py-6 px-4 sm:px-6 md:p-8;
  }

  &__group {
    @apply space-y-6;
  }

  &__row {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  &__submit {
    @apply flex justify-end;
  }

  &__label {
    @apply block text-sm font-medium text-primary-500 mb-2;
  }

  &__input {
    @apply w-full px-3 py-2 border border-primary-100 focus:ring-0;
  }

  &__modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4 z-[99999] backdrop-blur-sm;
  }

  &__modal-content {
    @apply bg-white p-6 max-w-md w-full;
  }

  &__modal-title {
    @apply mt-2 text-lg font-medium text-gray-900;
  }

  &__modal-body {
    @apply mt-2 text-sm text-gray-500;
  }

  &__modal-footer {
    @apply mt-4;
  }

  &__icon {
    @apply mx-auto h-12 w-12 text-green-500;
  }
}
