.product-filter-panel {
  @apply w-full flex flex-col gap-y-4 items-center mb-6;

  &__filter-section {
    @apply pb-4 lg:pb-8;

    &--last {
      @apply pt-8;
    }
  }

  &__title {
    @apply text-base font-semibold mb-4;
  }

  &__options {
    @apply grid grid-cols-4 lg:grid-cols-3 gap-3;
  }

  &__option {
    @apply flex flex-col items-center gap-2 p-3 transition text-center cursor-pointer hover:bg-gray-50;
  }

  &__icon {
    @apply w-12 h-12 flex items-center justify-center;

    &--gemstone {
      @apply w-12 h-12 flex items-center justify-center;
    }
  }

  &__label {
    @apply text-xs font-medium;
  }

  &__button {
    @apply bg-[#502B3A] w-full flex flex-row gap-x-4 items-center justify-center mx-auto max-w-[600px] text-white px-5 py-3 shadow-lg z-40 lg:hidden;
  }

  &__tags {
    @apply flex flex-wrap gap-2 mb-4 lg:hidden;
  }

  &__tag {
    @apply bg-gray-100 text-gray-700 px-3 py-1 text-sm flex items-center gap-2;
  }

  &__mobile-panel {
    @apply fixed inset-0 bg-white z-50 transform translate-y-full transition-transform duration-300 ease-in-out lg:hidden;

    &.active {
      @apply translate-y-0;
    }
  }

  &__price-range {
    @apply pt-4 lg:pt-8 mr-4;

    &__title {
      @apply font-semibold mb-4;
    }

    &__container {
      @apply ml-6;
    }

    &__inputs {
      @apply flex items-center space-x-4 mb-4 w-full;
    }

    &__input-group {
      @apply flex flex-col w-1/2;
    }

    &__label {
      @apply text-sm font-medium text-gray-600;
    }

    &__input-wrapper {
      @apply relative mt-1;
    }

    &__currency {
      @apply absolute inset-y-0 left-0 flex items-center pl-3 text-gray-600;
    }

    &__input {
      @apply text-sm w-full pl-7 pr-3 py-2 border focus:outline-none focus:ring-1 focus:ring-[#D1A559];
    }

    &__slider {
      @apply w-full mb-2 accent-[#502B3A] cursor-pointer h-1 bg-[#502B3A] rounded-sm;
    }
  }

  &__mobile-header {
    @apply flex items-center justify-between p-4 border-b border-gray-200;
  }

  &__close-filter {
    @apply p-2 hover:bg-gray-100 rounded-full;
  }

  &__mobile-content {
    @apply p-4 overflow-y-auto h-[calc(100vh-8rem)];
  }

  &__mobile-footer {
    @apply fixed bottom-0 left-0 right-0 p-4 bg-white border-t border-gray-200 flex gap-4;
  }

  &__reset-filters {
    @apply flex-1 py-3 border border-gray-300 text-gray-700 hover:bg-gray-50;
  }

  &__apply-filters {
    @apply flex-1 py-3 bg-[#502B3A] text-white hover:bg-[#502B3A]/90;
  }
}
