.header {
  @apply sticky top-0 z-20 w-full bg-white shadow-sm;

  &__top {
    @apply flex items-center p-4 lg:px-8 lg:pb-2.5;
  }

  &__utility-nav {
    @apply hidden lg:block w-full;
    &-list {
      @apply flex flex-row items-center gap-x-7;
    }
    &-item {
      @apply list-none;
    }
    &-link {
      @apply text-[#502B3A] font-light text-base relative;
      &::after {
        content: "";
        @apply absolute left-0 -bottom-[1px] h-[1px] w-full bg-[#1B1B1D] transition-transform duration-100 transform scale-x-0;
        transform-origin: left;
      }
      &:hover::after {
        @apply scale-x-100;
      }
    }
  }

  &__mobile-menu-button {
    @apply ml-3 lg:hidden lg:ml-6;
    svg {
      @apply h-8 w-8;
    }
  }

  &__logo {
    @apply flex-1 md:flex-none mt-1;
    a {
      @apply inline-block overflow-hidden;
    }
    svg {
      @apply -mx-9 h-6 lg:h-7 lg:mx-auto;
    }
  }

  &__user-actions {
    @apply flex flex-row justify-end items-center gap-x-4 lg:gap-x-7 w-full;
  }

  &__user-action {
    @apply hidden lg:block;
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      @apply block;
    }
  }

  &__main-nav {
    @apply hidden lg:block mt-1 pb-2;
    &-list {
      @apply flex items-center justify-center gap-x-8;
    }
    &-link {
      @apply relative flex flex-row items-center justify-center gap-x-2 font-light text-base text-[#502B3A];
    }
  }

  &__dropdown {
    &-item {
      @apply list-none hover:underline hover:decoration-1 block py-[1px];
    }
    &-link {
      @apply hover:underline hover:decoration-1 block py-1;
    }
  }

  .group {
    .absolute {
      @apply transform transition-all duration-300 ease-in-out;
      transform: translateY(-10px);
      opacity: 0;
      visibility: hidden;
    }
    &:hover .absolute {
      @apply translate-y-0 opacity-100 visible;
    }
  }

  &__mobile {
    &-menu {
      @apply lg:hidden fixed inset-x-0 bottom-0 right-0 z-50 w-full bg-white shadow-lg transform transition-transform duration-300 ease-in-out translate-x-full;
      height: calc(100dvh - 3.7rem);

      &--open {
        @apply translate-x-0;
      }
    }

    &-menu-container {
      @apply flex flex-col h-full;
    }

    &-nav {
      @apply flex-1 overflow-y-auto py-2 px-4;
    }

    &-nav-list {
      @apply space-y-0;
    }

    &-nav-item {
      @apply list-none border-b border-gray-200;

      &-wrapper {
        @apply flex items-center justify-between;
      }
    }

    &-nav-link {
      @apply block py-3.5 font-normal text-[#1B1B1D];
    }

    &-nav-chevron {
      @apply p-2 hover:bg-gray-50 rounded-full transition-colors;
    }

    &-menu-footer {
      @apply sticky bottom-0 bg-white border-t px-4 py-5;
    }

    &-menu-account {
      @apply flex items-center gap-x-2 w-full py-3 px-4 text-base text-[#1B1B1D];
    }

    &-submenu {
      @apply lg:hidden fixed inset-x-0 bottom-0 right-0 z-[60] w-full bg-white shadow-lg transform transition-transform duration-300 ease-in-out translate-x-full;
      height: calc(100dvh - 3.7rem);

      &--open {
        @apply translate-x-0;
      }
    }

    &-submenu-header {
      @apply flex items-center p-4;
    }

    &-submenu-content {
      @apply py-6;
    }

    &-submenu-title {
      @apply px-4 mb-6 text-xl font-medium text-[#1B1B1D];
    }

    &-submenu-nav {
      @apply px-4;
    }

    &-submenu-list {
      @apply space-y-0;
    }

    &-submenu-item {
      @apply list-none border-b border-gray-200;
      &:last-child {
        @apply border-b-0;
      }
    }

    &-submenu-link {
      @apply block py-4  text-[#1B1B1D];
    }
  }

  &__last-nav-item {
    @apply border-b-0;
  }

  &__search-overlay {
    @apply fixed inset-0 z-[9999] bg-white transform transition-transform duration-500 ease-in-out -translate-y-full overflow-auto;
    &--visible {
      @apply translate-y-0;
    }
    &-container {
      @apply mx-auto px-4 md:px-8 py-6;
    }
    &-header {
      @apply flex justify-center items-center mb-12 relative;
    }
    .header__logo {
      @apply flex-none;
    }
    &-close {
      @apply p-2 text-[#502B3A] hover:bg-gray-50 rounded-full transition-colors duration-200 absolute right-0;
      top: 50%;
      transform: translateY(-50%);
      svg {
        @apply w-6 h-6;
      }
    }
    &-form {
      @apply relative flex items-center gap-x-4 max-w-3xl mx-auto mb-12;
    }
    &-input {
      @apply flex-1 py-3 pl-4 pr-12 text-sm md:text-base border border-primary-100 focus:outline-none focus:border-primary-500 rounded-sm;
    }
    &-form button {
      @apply absolute right-4 top-1/2 transform -translate-y-1/2;
      width: 20px;
      height: 20px;
    }
    &-results {
      &-title {
        @apply text-lg font-medium text-gray-500 mb-4;
      }
      &-list {
        @apply space-y-2;
      }
      &-item {
        @apply text-xl text-[#502B3A] hover:text-[#1B1B1D] transition-colors duration-200;
        a {
          @apply block py-2;
        }
      }
    }
  }
}
