.section-heading {
  @apply flex flex-col p-6 gap-y-4 items-center text-center;

  &__title {
    @apply font-primary font-semibold text-3xl md:text-4xl text-[#502B3A];
  }

  &__description {
    @apply font-light text-lg md:text-xl text-[#1B1B1D] max-w-2xl;
  }
}
