.section-heading {
  @apply flex flex-col pt-6 pb-4 gap-y-4 items-center text-center;

  &__title {
    @apply font-primary font-semibold text-2xl md:text-3xl lg:text-4xl text-[#502B3A];
  }

  &__description {
    @apply font-light md:text-lg lg:text-xl text-[#1B1B1D] max-w-2xl;
  }
}
