.carousel {
  @apply relative mx-auto px-4;

  &__container {
    @apply overflow-hidden;
  }

  &__list {
    @apply flex transition-transform duration-500 ease-in-out;
  }

  &__item {
    @apply flex-shrink-0 px-3;
  }

  &__link {
    @apply cursor-pointer block;
  }

  &__image-container {
    @apply relative overflow-hidden aspect-square;
  }

  &__image {
    @apply mx-auto w-auto object-cover h-full;
  }

  &__caption {
    @apply font-primary mt-4 text-center text-base md:text-lg font-normal text-[#502B3A];
  }

  &__button {
    @apply absolute top-1/3 md:top-1/2 z-10 -translate-y-1/2 rounded-full bg-white md:bg-[#D1A559]/20 p-2 md:p-4 shadow-md hover:bg-[#502B3A]/90 hover:text-white transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-[#502B3A];

    &--prev {
      @apply left-0;
    }

    &--next {
      @apply right-0;
    }
  }

  &__button-icon {
    @apply h-6 w-6;
  }

  &__indicators {
    @apply flex justify-center mt-6 space-x-2;
  }

  &__indicator {
    @apply h-2 w-2 rounded-full transition-colors duration-200 bg-gray-300;

    &--active {
      @apply bg-[#502B3A] scale-125;
    }
  }
}
