.page-heading {
  @apply px-4 md:px-6 lg:px-8 text-center;

  &__container {
    @apply text-center mb-6 sm:mb-8 md:mb-10;
  }

  &__header {
    @apply flex gap-x-4 items-start justify-between overflow-hidden;
  }

  &__title {
    @apply text-2xl sm:text-3xl md:text-4xl md:leading-[3.5rem] font-primary font-semibold;
  }

  &__spacer {
    @apply hidden md:block sm:w-6;
  }
}
