.bento-grid {
  @apply grid grid-cols-1 gap-y-6 mt-6;

  @media (min-width: 1024px) {
    @apply lg:grid-cols-3 lg:gap-x-10;
  }

  &__item {
    @apply h-full relative overflow-hidden;

    &--span-1 {
      @apply lg:col-span-1;
    }

    &--span-2 {
      @apply md:col-span-2;
    }

    img {
      @apply w-full h-full object-cover transition-transform duration-500;
    }

    &:hover {
      img {
        transform: scale(1.02);
      }
    }
  }

  &__link {
    @apply block h-full;
  }

  &__figure {
    @apply relative h-64 w-full;

    @media (min-width: 768px) {
      @apply md:h-[447px];
    }
  }

  &__image {
    @apply w-full h-full object-cover;
  }

  &__title {
    @apply absolute bottom-4 text-center text-sm md:text-lg font-light mb-2 bg-white px-9 py-2 text-[#502B3A];
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 3rem);

    @media (min-width: 768px) {
      width: auto;
      transform: none;

      &--left {
        @apply left-6;
      }

      &--right {
        @apply left-auto right-6;
      }
    }
  }
}
