.hero {
  @apply relative flex flex-col text-center lg:text-left bg-gradient-to-t from-[#EEDEC3]/75 via-white/90 to-transparent overflow-hidden;
  min-height: calc(100vh - 4rem);

  @screen lg {
    @apply h-[85vh] flex-row items-center justify-between p-0;
  }

  @apply lg:bg-gradient-to-r lg:from-[#EEDEC3]/75 lg:via-white/75 lg:via-[60%] lg:to-transparent;

  &__image-container {
    @apply relative w-full;

    &--mobile {
      @apply h-[35vh] md:h-[45vh] lg:hidden;

      &::after {
        @apply content-[''] absolute bg-gradient-to-t from-white to-transparent h-[100px] left-0 right-0 -bottom-[1px];
      }
    }

    &--desktop {
      @apply hidden lg:block lg:h-[95vh] lg:w-[50%];
    }

    &__image {
      @apply w-full h-full object-cover lg:overflow-visible;
    }
  }

  &__content {
    @apply relative max-w-2xl mx-auto w-full p-4 -mt-20 lg:mt-0 lg:p-0 lg:pl-8 lg:w-[50%] lg:mx-0;
    z-index: 2;
  }

  &__title {
    @apply font-primary font-semibold text-3xl md:text-4xl md:text-5xl text-[#502B3A];
  }

  &__description {
    @apply font-light md:text-xl text-[#1B1B1D] mt-5;
  }

  &__nav {
    @apply flex flex-col md:flex-row justify-center lg:justify-start gap-4 mt-8;
  }

  &__button {
    @apply flex justify-center items-center gap-2 bg-[#502B3A] py-3 px-8 text-white;
    @apply hover:bg-opacity-90 transition-opacity;
  }
}
