.blog-section {
  @apply mt-8 md:mt-10 lg:mt-12 grid grid-cols-1 gap-4 sm:gap-5 md:gap-6;

  @media (min-width: 640px) {
    @apply sm:grid-cols-2;
  }

  @media (min-width: 1024px) {
    @apply lg:grid-cols-3;
  }

  &__item {
    @apply hover:shadow-lg transition-shadow duration-300 border border-[#D1A559]/40;
  }

  &__link {
    @apply h-full flex flex-col;
  }

  &__figure {
    @apply h-40 sm:h-44 md:h-48 lg:h-52 flex-shrink-0;
  }

  &__image {
    @apply w-full h-full object-cover;
  }

  &__content {
    @apply bg-white p-4 sm:p-5 flex-grow flex flex-col;
  }

  &__title {
    @apply font-primary font-medium text-[#502B3A] text-base sm:text-lg md:text-xl mb-1;
  }

  &__excerpt {
    @apply font-light text-sm sm:text-base md:text-[15px] mb-3 sm:mb-4 md:mb-5 flex-grow;
  }

  &__meta {
    @apply inline-flex gap-x-2 font-light text-sm sm:text-base text-[#462230]/60;
  }

  &__author,
  &__date {
    @apply font-light text-sm sm:text-base text-[#462230]/60;
  }

  &__divider {
    @apply text-[#462230]/60;
  }
}
