.collections-page {
  @apply mt-12 mb-16 md:mb-24;

  &__grid {
    @apply grid gap-y-10 gap-x-6 grid-cols-2 lg:grid-cols-3;
  }

  &__card {
    @apply flex flex-col h-full;

    &-image-container {
      @apply relative w-full h-40 sm:h-48 md:h-60 lg:h-80 overflow-hidden;

      &::before {
        @apply absolute inset-0 bg-black/10 group-hover:bg-black/20 transition-all duration-300 z-10;
        content: "";
      }
    }

    &-image {
      @apply w-full h-full object-cover object-center transition-all duration-500 ease-in-out group-hover:scale-105;
    }

    &-content {
      @apply mt-4 flex flex-col flex-grow;
    }

    &-title {
      @apply text-base md:text-lg font-medium text-gray-900;
    }

    &-count {
      @apply mt-auto text-sm text-gray-500;
    }
  }
}
