.about-page {
  @apply min-h-screen pt-12 pb-20 px-4 sm:px-6 lg:px-8;

  &__container {
    @apply max-w-7xl mx-auto;
  }

  &__header {
    @apply mb-10 md:mb-16;
  }

  &__title {
    @apply text-center font-primary text-3xl md:text-4xl font-semibold text-primary-500 mb-6;
  }

  &__description {
    @apply text-primary-400 max-w-3xl mx-auto leading-relaxed;
  }

  &__hero {
    @apply relative -mx-4 md:mx-auto mb-10 md:mb-16;

    &-image {
      @apply w-full h-80 lg:h-96 object-cover;
    }
  }

  &__content {
    @apply max-w-4xl mx-auto text-primary-400 leading-relaxed space-y-4;
  }

  &__section {
    @apply py-6 lg:py-16;

    &-container {
      @apply grid lg:grid-cols-2 gap-12 items-start;

      .about-page__section-content:has(.about-page__section-cards) {
        @apply col-span-1 lg:col-span-2;
      }
    }

    &-image {
      @apply -mx-4 md:mx-auto flex justify-center lg:justify-start bg-gray-100;

      img {
        @apply w-full h-auto;
      }
    }

    &-content {
      @apply space-y-6;
    }

    &-title {
      @apply font-primary text-2xl md:text-3xl font-semibold text-primary-500 mb-8;
    }

    &-text {
      @apply text-primary-400 leading-relaxed space-y-4;
    }

    &-list {
      @apply list-disc list-inside space-y-2 text-primary-400;
    }
  }

  &__founder {
    @apply py-6 lg:py-16;

    &-container {
      @apply grid lg:grid-cols-2 gap-12 items-start;
    }

    &-image {
      @apply -mx-4 md:mx-auto flex justify-center lg:justify-start bg-gray-100;

      img {
        @apply w-full h-auto;
      }
    }

    &-info {
      &-title {
        @apply font-primary text-2xl md:text-3xl font-semibold text-primary-500 mb-8;
      }

      &-content {
        @apply space-y-6 text-primary-400 leading-relaxed;
      }

      &-name {
        @apply font-medium text-primary-500;
      }

      &-signature {
        @apply mx-auto md:mx-0 mt-8 max-w-[200px];
      }
    }
  }
}
