.sitemap-page {
  @apply px-4 lg:px-8 mt-12 pb-16 text-primary-500;

  h1 {
    @apply font-primary text-3xl md:text-4xl font-semibold text-center mb-12;
  }

  .sitemap-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8;
  }

  .sitemap-section {
    @apply space-y-4;

    h2 {
      @apply text-2xl font-primary text-secondary-500 mb-4;
    }

    ul {
      @apply space-y-2;
    }

    a {
      @apply text-primary-500 hover:text-secondary-500 transition-colors duration-200;
    }
  }
}
